.main-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 35%;
  min-width: 300px;
  color: var(--color-black);
}
.ingredients > h2 {
  margin-top: 5px;
  font-size: 30px;
  font-weight: 500;
}
.ingredients > ul {
  margin-top: 5px;
  padding-left: 15px;
}

.main-form {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.ingredient_input {
  border: 1px solid var(--color-shadow);
  border-radius: 5px;
  padding: 5px;
  padding-left: 15px;
  width: 500px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10)
}

.button {
  border: 0;
  border-radius: 5px;
  padding: 10px;
  width: 190px;
  color: var(--color-white);
  background-color: var(--color-black);
  cursor: pointer;
}
.button:hover {
  background-color: var(--color-blackhover);
}

.get-recipe-container {
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(231, 226, 221);
}

.get-recipe-container h3 {
  font-size: 18px;
  font-weight: 500;
}
.get-recipe-container p {
  font-size: 16px;
  color: rgb(125, 125, 129);
}

.get-recipe-container button {
  border: 0;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  background-color: rgb(190, 110, 63);
}
